<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <h1>Profile Page </h1>

        


        <% if(user.id == profile_user.id){ %>
        
            <div>
                <form action="/users/update/<%= profile_user.id %>" method="post">
                    <input type="text" name="name" id="" placeholder="Your Name" value="<%= profile_user.name %>" required>
                    <input type="email" name="email" id="" placeholder="Your Email" value="<%= profile_user.email %>" required>
                    <input type="submit" value="Update">
                </form>
            </div>
             

        <%}else{%>
            <p>
                <%= profile_user.name %>
            </p>
            <p>
                <%= profile_user.email %>
            </p>
        <% } %>

           

    </div>
</body>

</html>